*{
    margin:0;
    padding:0;

}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 150vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar{
    height:10%;
    display:flex;
    align-items:center;
}

.logo{
    width:10%;
    cursor:pointer;
}

.menu-icon{
    width:30px;
    cursor:pointer;
    margin-left:40px;
}

nav{
    flex:1;
    text-align:right;
}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-left: 60px;
}

nav ul li a{
    font-family:'Kumbh Sans', sans-serif;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

.row{
    display:flex;
    height: 70%;
    align-items: center;

}

.col{
    flex-basis: 60%;
    align-items: center;
}

.col1{
    height:15%;
    flex-basis: 70%;
    align-items: center;
}


h2{
    height: 50%;
    color:#fff;
    font-size: 50px;
}

p{
    color:#fff;
    font-size: 20px;
    line-height: 15px;
}
button{
    width:180px;
    color:#000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    outline: none;
    margin-top:30px;
}
.card{
    width: 240px;
    height: 240px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size:contain ;
    transition:transform 0.5 ;
}

.card1{
    background-image: url(img/hoop.jpg);
}

.card2{
    background-image: url(img/about_us.jpg);
}

.card3{
    background-image: url(img/shop.jpg);
}

.card4{
    background-image: url(img/gallery.jpg);
}

.card:hover{
    transform:translateY(-10px);
}
h5{
    color:#000 ;
    font-size: large;
    font-weight: bold;
    text-shadow:0 0 5px #999;
}